################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/IOCModelBinderExample/bin/
/src/IOCModelBinderExample/obj/
/src/IOCModelBinderExample/wwwroot/lib/
/.vs/
project.lock.json
